ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

.main {
    background: #333b5b;
    color:#ffffff;
}

.temp {
    font-size: 70px;
    text-align: center;
    font-weight: normal;
}

.location, .icon, .desc {
    text-align: center;
}
